{% extends 'uniPeliculasBundle::layout.html.twig' %}
{% block cuerpo -%}
    <h1>Comentarios</h1>
        {% for entity in entities %}
            {{ entity.id }}-
            {{ entity.nombre }}<br>
            {% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}<br>
            {{ entity.descripcion }}
                <ul>
                    <li>
                        <a href="{{ path('comentarios_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('comentarios_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('comentarios_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
